* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
header {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  background-color: #172957ed;
}
.logo {
  width: 5rem;
}
.logo img {
  width: 100%;
}
#cerrar{
  border: red solid;
}
.carrito {
  border: rgb(0, 0, 0) solid 1px;
  background-color: #e0e0e0;
  width: 35%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #e0e0e0ce;
  padding: 2rem;
}
.carrito1{
  display: none;
}

.carrito ul{
  padding: 2rem;
}


nav {
  width: 70%;
  display: flex;
  justify-content: space-between;
  background: none;
}
nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: x-large;
  font-weight: bold;
  padding: 0.3rem;
  margin-inline: 1rem;
}
nav a:hover {
  border-bottom: #ffffff solid 2px;
}
.active {
  border-bottom: #ffffff solid 2px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.915),
      rgba(255, 255, 255, 0.915)
    ),
    url("https://previews.123rf.com/images/elenavdovina/elenavdovina1611/elenavdovina161100067/66521953-productos-para-mascotas-fondo-transparente-blanco-vector-sin-fisuras-fondo-blanco-iconos-con.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
}
main section {
  width: 100%;
  height: 90vh;
}
.bienvenida {
  display: flex;
  background: url("https://mobimg.b-cdn.net/v3/fetch/78/7836592cce4dabba36797335cbaa1726.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-between;
}

.primer {
  width: 45%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.47);
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.primer div {
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: rgb(255, 255, 255);
  font-size: x-large;
  margin-right: 2rem;
}

.segundo {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  transition: 0.8s;
  font-size: 25px;
  height: 80vh;
}
.segundo:hover {
  background-color: #17c9ed;
  color: white;
}
.segundo div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30%;
  height: 70%;
  margin-left: 3rem;
}
.segundo img {
  border-radius: 20px;
  object-fit: cover;
  width: 50%;
  height: 80%;
}
.dos {
  display: flex;
  flex-direction: row;
}
footer {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2rem;
  background-color: #063455;
}
.imgF {
  width: 30%;
  height: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.imgF a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
}
.searchBar {
  margin: 2rem;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.searchBar input {
  width: 90%;
  padding: 0.5rem;
  border-radius: 15px;
  border: rgb(0, 0, 0) solid 2px;
}
#containerCard {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 3rem;
}

.name {
  display: flex;
  width: 40%;
  height: 100%;
  align-items: center;
  color: white;
}

footer h2 {
  width: 30%;
  display: flex;
  justify-content: center;
  color: white;
}

.card {
  border: black solid 1px;
  width: 22%;
  margin: 1rem;
  text-align: left;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #172957ed;
  color: white;
  font-size: 17px;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 50%;
  border-radius: 15px 15px 1px 1px;
  border-bottom: black solid 2px;
}
.card-body {
  padding: 0 1rem;
}

.card h3 {
  text-transform: capitalize;
  text-align: center;
  margin: 1rem;
}
.precio {
  margin: 10px;
  font-size: 20px;
  color: #e0e0e0;
}
.card-boton {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.card-boton a {
  border-radius: 10px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  background-color: #ffffff;
  color: black;
}

.card-boton2 {
  width: 80%;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

.card-boton2 div a {
  border-radius: 10px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  background-color: #e0e0e0;
  color: black;
  text-align: center;
}
.ultimas {
  height: 50%;
  text-decoration: none;
  color: rgb(255, 0, 0);
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  text-transform: capitalize;
}
.compra {
  background-color: #ff5927 !important;
}
.card-boton2 div {
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
}
